<aside class="sidebar">
  <h2>BigPipe.io</h2>
  <p class="what"> 
    Check out the project on github:
    <a href="https://github.com/bigpipe">github.com/bigpipe</a>
  </p>

  <% 
    Object.keys(components).forEach(function each(name) { 
    project = components[name];
  %>
  <h3>
    <a href="#<%= name %>"><%= name %></a>
    <small title="This documentation is for this version of the module"><%= project.json.version %></small>
  </h3>
  <% if (project.tableofcontents) { %>
  <ul>
    <% project.tableofcontents.sections.forEach(function (menu) { %>
    <li>
      <a href="#<%= menu.id %>" class="item"><%= menu.name %></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
  <% }); %>
</aside>
